.home {
  background: rgba(12, 13, 23);
  color: white;
  width: 100vw;
  top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: 0px 10px 53px rgba(0, 0, 0, 0.3);
}

.nav li {
  list-style: none;
  padding: 20px 0;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}

#navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 40px;
}
.link {
  text-decoration: none;
  color: white;
  margin: 60px;
  text-transform: uppercase;
  font-size: 30px;
}
.link-black {
  color: black;
  text-decoration: none;
  margin: 60px;
  text-transform: uppercase;
  font-size: 30px;
}
li:hover {
  transform: scale(1.2);
}
.link:hover {
  color: orange;
}

.moon {
  color: blueviolet;
  font-size: 20px;
}
.sun {
  color: orange;
  font-size: 20px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label__checkbox .ball {
  transform: translateX(24px);
}
.label__checkbox {
  background: #111;
  cursor: pointer;
  height: 26px;
  width: 50px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}
.ball {
  width: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .home {
    width: 410px;
  }
  .link {
    margin: 5px;
    font-size: 12px;
  }

  .nav {
    margin: 0 10px;
    justify-content: center;
  }
  #navbar-wrapper {
    justify-content: space-between;
  }
}
@media (min-width: 415px) and (max-width: 800px) {
  .home {
    width: 1400px;
    max-width: 1800px;
  }

  .link {
    font-size: 30px;
    margin: 0 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .home {
    width: 1300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    width: 1300px;
  }
}
