@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.work {
  background-color: #e9ddc7;
  font-family: "Open Sans", sans-serif;
  height: 700px;
  width: 100%;
}

.work-container {
  width: 1300px;
  margin: 0 auto;
}

.Work-headline {
  font-size: 50px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  position: relative;
  width: 400px;
  text-align: center;
  margin: 20px auto;
}

.single-projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 20px;
}

.Work-headline::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background: orange;
  left: 0;
  bottom: -1px;
  transition: all 1s ease;
}

.Work-headline:hover::after {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .work {
    height: 1550px;
    width: 400px;
  }
  .work-container {
    width: 400px;
  }

  .Work-headline::after {
    width: 130px;
  }
  .Work-headline {
    font-size: 40px;
    text-align: center;
    width: 270px;
  }
  .single-projects {
    flex-direction: column;
    margin: 0px auto;
  }
}

@media (min-width: 415px) and (max-width: 800px) {
  .work {
    width: 1400px;
    height: 700px;
  }

  .single-projects {
    flex-direction: row;
  }

  .work-container {
    width: 1400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .work {
    width: 1300px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px) {
  .work {
    width: 1300px;
  }
}
