.contact {
  max-width: 1300px;
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  height: 600px;
  background-color: white;
  color: black;
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 30px;
  min-height: 80px;
  max-height: 150px;
  max-width: 500px;
  overflow: auto;
  font-size: 20px;
}

.contact-Input {
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.send-mail {
  font-size: 30px;
}

.email-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}
.contact-submit {
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  background: gray;
  color: white;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.contact-submit:hover {
  background: green;
  transition: all 500ms ease-in;
}
.contact-headline {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.contact-border {
  border: 1px solid orange;
  width: 300px;
  margin: 0 auto;
}

.contact-lable {
  margin: 5px;
  background: none;
}

.contact-email {
  width: 200px;
  height: 200px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 500px;
}

.contact-form-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 330px;
    margin: 0 auto;
  }
  .contact-form-section {
    flex-direction: column;
  }

  .contact {
    height: 800px;
    width: 370px;
  }
}
