@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  overflow-y: auto; /* Hide vertical scrollbar */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
